{% extends 'layout_admin.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center pt-5 mb-5">
            <img src="{{ asset('/images/logo_mail.jpg') }}" alt="logo" class="w-50"/>
        </div>
        <div class="row justify-content-center">
            <h1>Erreur!</h1>
        </div>
        <div class="row justify-content-center">
            <p>Le serveur vient de retourner l'erreur: "{{ status_code }} {{ status_text }}".</p>
        </div>
        <div class="d-flex justify-content-center pt-5">
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-dark w-50">Retour</a>
        </div>
    </div>
{% endblock %}