{% include "layout_admin.html.twig" %}

<div class="container">
    {% block fos_user_content %}
        {% include "@FOSUser/Profile/show_content.html.twig" %}
    {% endblock fos_user_content %}
</div>
