/.web-server-pid
/app/config/parameters.yml
.idea
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
*.php~
*.log
/node_modules
/node_modules/*
!/web/build
/web/build/*
