<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('/images/logo.png') }}" alt="logo"/>
        <div class="text">Site de la région</div>
    </a>
</nav>
