<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('/images/logo.png') }}" alt="logo"/>
        <div class="text">Site de la région</div>
    </a>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% endif %}

</nav>
