{% extends 'base.html.twig' %}

{% block body %}
    <div id="sucess"><div class="alert alert-success text-center" role="alert">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        </div>
    </div>
    <div class="container">
    </div>

{% endblock %}
