{% include 'layout_admin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 mx-auto">
                <h1>Gestion des fiches</h1>
            </div>
            <div>
                <div>
                    <button type="button" class="btn btn-primary">Ajouter un nouvel utilisateur</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Ajouter un nouveau lycée</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Ajouter un metier à la liste</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
