.formLogin {
  background-color: $backgroundForm;
  max-width: 40em;
  padding: 2% 4% 2% 4%;
  color: $colorTextForm;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: center;
    font-size: calc(20px + 6 * (100vw - 400px) / 1200);
  }
  .rowLine {
    margin-top: 0.8em;
    margin-right: 6em;
  }
}

.default-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .form-control {
    border: 0.05em solid $colorBorder;
  }

  label {
    margin-top: 0.5em;
  }

  .btn-warning {
    margin-left: -0.5em;
    margin-top: 0.5em;
  }

  .btn-dark {
    margin-right: -0.5em;
    margin-top: 0.5em;
    width: 20em;
    //height: 3em;
  }

  .title {
    margin-top: 0.5em;
  }

  h1 {
    margin-top: 0.5em;
    font-size: calc(25px + 6 * (100vw - 400px) / 1200);
  }
}

.formSheet {
  @extend .default-form;
}

.formWork {
  @extend .default-form;

  .btn-edit {
    margin-top: -0.4em;
  }
}

.formStatut {
  @extend .default-form;

  .picker-size {
    height: 2.35em;
  }
}

.editFormWork {
  @extend .default-form;

  ul {
    columns: 2;
    list-style: none;
  }

  .btn-danger {
    padding-top: 0.7em;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 12em;
    height: 3em;
  }

  .btn-edit {
    margin-top: -0.4em;
  }
}