@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variables";
@import "form";
@import "navbar";

body {
  background-color: $backgroundBody;
  font-family: Roboto;
  font-size: 1em;

  .container {
    background-color: $backgroundContainer;
    margin-top: 3em;
    margin-bottom: 5em;
    min-width: 87vw;
    min-height: 40vw;
    padding-top: 4em;
    padding-bottom: 5em;
  }

  .alert-dismissible .close {
    top:-8px;
}

  .alert-success {
    position: absolute;
    margin-top: 0.6em;
    width: 100%;
    height: 2em;
    line-height: 0.05em;
  }

  .jumbotron {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .card {
    min-width: 300px;
  }

  //TEXT
    .w-300 {
    font-weight: 300;
  }

    .w-400 {
    font-weight: 400;
  }

    .w-500 {
    font-weight: 500;
  }
  p{
    color:$colorText;
  }

  //TABLE
  thead {
    border-left: 0.15em solid #dee2e6;
    border-right: 0.15em solid #dee2e6;
    tr {
      th {
        font-family: roboto;
        font-weight: 400;
      }
    }
  }
  .t-date {
    width: 7.5vw;
  }

  .t-status {
    width: 10vw;
  }
  .t-button {
    width: 3vw;
  }

  //BADGE AND PILLS
  .badge {
    font-family: Roboto;
    font-weight: 400;
    padding-top: 0.7em;
    min-height: 2.5em;
    min-width: 5.5em;
  }

  .badge-urgent {
    font-size: 1.2rem;
  }

  // PAGE LOGIN/ACCUEIL
  .welcome-text {
    font-size: calc(20px + 10 * (100vw - 200px) / 1200);
    text-align: center;
    color: $colorTitle;
  }
  .region{
    text-wrap: none;
  }

}
//gestion//
.blanc  a {
color:#F5F5F5 ;
  font-size:  calc(12px + 11 * (40vw - 900px) / 1200);
  letter-spacing: 0px;
}

