@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "variables";
@import "navbar";

body {
  background-color: $backgroundBody;

  .container {
    background-color: $backgroundContainer;
    margin-top: 50px;
    min-height: 600px;
  }
}

