nav {
  background-color: $backgroundNav;
  height: 70px;

  img {
    margin-top: -15px;
    height: 60px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px $shadow;
  }

  .text {
    color: $colorText;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -45px;
    font-family: 'Roboto', sans-serif;
  }
  .navbar-nav .nav-link {
    color: $colorText;
    transition: 3s;

    &:hover {
      color:$colorHoverMenu;
      transition: 3s;
      text-decoration: none;
    }

  }
  a {
    color: $colorText;
    transition: 3s;

    &:hover {
      color:$colorHoverMenu;
      transition: 3s;
      text-decoration: none;
    }

  }
  .link{
    margin-right: 10em;
  }
  #navbarSupportedContent{
    background-color: $backgroundNav;
    text-align: center;
  }

}
