/*Variables Navbar*/

$backgroundNav: #FFF;
$shadow: darken(#EEE, 20%);
$colorText: #484848;
$colorHover: #ffbc00;
$colorHoverMenu: #ba8a00;


/*Variables body*/
$backgroundBody: #efeeee;
$backgroundContainer: #FFF;

/*Variables form */
$backgroundForm: #868686;
$colorTextForm: #FFF;
$colorSubmit: #575757;
$colorTextHover:#000;