/*Variables Navbar*/

$backgroundNav: #FFF;
$shadow: darken(#EEE, 20%);
$colorText: #484848;
$colorHover: #ffbc00;
$colorHoverMenu: #ba8a00;

/*Variables body*/
$backgroundBody: #efeeee;
$backgroundContainer: #FFF;

/*Variables form */
$backgroundForm: #dcdcdc;
$colorTextForm: #434343;
$colorSubmit: #575757;
$colorTextHover:#000;
$colorBorder: rgba(198, 198, 198, 0.65);

/*Variables welcome-page */
$colorTitle: #37005c;

/* variable comments */
$region: #4A315B;
$emop: #FFF689;
$site: #BDE4A7;
/*edit lycée*/
$nomDeLycee :#3c6b21;
/*FOSuser*/
$washed: #9c9d9f;

