{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {% block fos_user_content %}
        <div class="container pt-lg-5 pt-3">
            <div class="row mb-md-3 mb-lg-3">
                <div class="col-12">
                    <h1 class="welcome-text mt-3">Mot de passe oublié.</h1>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center formLogin mt-4">
                <p>Veuillez entrer le mail de connection.</p>
                <div class="col-12">
                    <form class="form-group formLogin" action="{{ path('fos_user_resetting_send_email') }}"
                          method="POST" class="fos_user_resetting_request">
                        <div>
                            <label for="username">{{ 'resetting.request.username'|trans }} de connexion</label>
                            <input class="form-control" type="text" id="username" name="username" required="required"/>
                        </div>
                        <div class="row justify-content-center">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <input class="btn btn-primary" type="submit"
                                           value="{{ 'resetting.request.submit'|trans }}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}


