{% block content %}

    <div style="background-color:#efeeee;padding:50px; color:#000;">
        <div style="font-family:Arial; text-align:center; background-color:#FFFFFF; padding:30px">
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/images/logo_mail.jpg') }}" style=" max-width: 70%; height: auto;"/>
            <h1 style="font-size:1em">E-Maintenance</h1>
            <p>Un nouveau commentaire de  {{user.firstname}} {{user.lastname}}</p>
            <p>pour voir le commentaire cliquez sur
                <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~
                path('sheet_show', {'id': sheet_id} ) }}#msg_anchor" style="text-decoration: none">
                    ce lien
                </a>
            .
            </p>
            <p>Cordialement, L'équipe E-Maintenance.</p>
        </div>
        <br>
    </div>

{% endblock %}