
{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        <p>{{ 'registration.email.subject'|trans({'%username%': username, '%confirmationUrl%': token}) }}</p>
        <p><a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('user_activate', { 'token': user.confirmationToken}) }}">Cliquez ici</a></p>
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'registration.email.message'|trans({'%username%': username, '%confirmationUrl%': token}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}

