{% block content %}

    <div style="background-color:#efeeee;padding:50px; color:#000;">
        <div style="font-family:Arial; text-align:center; background-color:#FFFFFF; padding:30px">
            <img src="https://image.ibb.co/gHtuC8/5885e30e2de86_bloc_marque_region_centre_val_de_loire_2015_jpg_e1521117387822.jpg"
                 style=" max-width: 70%; height: auto;" alt="logo"/>
            <h1 style="font-size:1em">Bienvenue sur E-Maintenance {{ username }} !</h1>
            <p>Pour valider votre compte utilisateur, merci de vous rendre sur
                <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('fos_user_resetting_reset', {'token': token}) }}"
                   style="text-decoration: none">ce lien</a>.
            </p>
            <p>Attention, il ne peut être utilisé qu'une seule fois pour valider votre compte.</p>
            <p>Cordialement, L'équipe.</p>
        </div>
        <br>
    </div>

{% endblock %}
