{% block content %}

    <div style="background-color:#efeeee;padding:50px; color:#000;">
        <div style="font-family:Arial; text-align:center; background-color:#FFFFFF; padding:30px">
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/images/logo_mail.jpg') }}" style=" max-width: 70%; height: auto;"/>
            <h1 style="font-size:1em">Bienvenue sur E-Maintenance {{ email }} !</h1>
            <p>Pour valider votre compte utilisateur, merci de vous rendre sur
                <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('fos_user_resetting_reset', {'token': token}) }}"
                   style="text-decoration: none">ce lien</a>.
            </p>
            <p>Attention, il ne peut être utilisé qu'une seule fois pour valider votre compte.</p>
            <p>Cordialement, L'équipe.</p>
        </div>
        <br>
    </div>

{% endblock %}
