
{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        <p>{{ 'registration.email.subject'|trans({'%username%': username}) }}</p>
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        <h1>Bonjour zoze !</h1>
        <p>Pour valider votre compte utilisateur, merci de vous rendre sur
        <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('fos_user_resetting_reset', {'token': token}) }}">ce lien</a>
            </p>
        <p>Attention, il ne peut être utilisé qu'une seule fois pour valider votre compte.</p>
        <p>Cordialement, L'équipe</p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}

