{% block content %}

    <div style="background-color:#efeeee;padding:50px; color:#000;">
        <div style="font-family:Arial; text-align:center; background-color:#FFFFFF; padding:30px">
            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('/images/logo_mail.jpg') }}"
                 style=" max-width: 70%; height: auto;"/>
            <h1 style="font-size:1em">Service E-Maintenance</h1>
            <p>Une fiche vient d'étre créée dans votre département.</p>
            <p>
                Assurez-vous de bien être connecté(e) au site E-maintenace puis pour voir la fiche nouvellement ajoutée cliquez sur
                <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~
                path('sheet_show', {'id': sheet.id}) }}" style="text-decoration: none">
                    ce lien
                </a>
                .
            </p>
            <p>Cordialement, L'équipe.</p>
        </div>
    </div>

{% endblock %}