<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
</head>
<body>
{% block body %}

{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>